@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: "Noto Sans KR", "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea,
button {
  outline: none;
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
img {
  display: block;
  box-sizing: border-box;
}
.loading {
  padding: 0rem 10.3125rem;
  width: 100%;
  height: 400px;
  text-align: center;
  color: #333;
  font-weight: 700;
  font-size: 30px;
  line-height: 400px;
}
.active {
  color: #4730d9;
  font-weight: 600;
  border: 1px solid #4730d9 !important;
}
.pActive {
  border: 4px solid #c1b7ff !important;
}
.tabActive {
  color: #4730d9 !important;
}
.inactiveBtn {
  display: flex;
  width: 80px;
  height: 32px;
  padding: 10px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  border-radius: 19px;
  border: 1px solid #373f41;
  background: var(--white-100, #fff);
  color: #373f41;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 12px */
  text-transform: capitalize;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.5;
}
.inactiveBtn:hover {
  opacity: 1;
}
/* header */
header {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0rem 10.3125rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
h1 {
  cursor: pointer;
}
.con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gnb {
  width: 403px;
  height: auto;
}
#gnb > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#gnb > ul > li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

#gnb > ul > li:hover {
  color: #4730d9;
}
.loginActive {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.loginActive > span {
  color: #373f41;
  font-size: 13px;
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
}
.loginActive > a {
  color: #373f41;
  font-size: 13px;
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
}
.loginActive > a:hover {
  color: #4730d9;
}

.login {
  display: flex;
  height: 32px;
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 19px;
  border: 1px solid var(--primary-main-color-1, #4730d9);
  background: var(--primary-main-color-1, #4730d9);
  transition: background-color 0.3s;
  cursor: pointer;
}
.login img {
  width: 16px;
  transition: background-color 0.3s;
}
.login span {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%; /* 14px */
  letter-spacing: -0.5px;
  text-transform: capitalize;
  transition: filter 0.3s;
}
.login:hover {
  background-color: #fff;
}
.login:hover img {
  filter: invert(64%) sepia(78%) saturate(7500%) hue-rotate(244deg)
    brightness(89%) contrast(89%);
}
.login:hover span {
  color: #4730d9;
}
.mobileMenu {
  display: none;
}
.openMenu {
  display: none;
  background-color: #4630d9a1;
  position: absolute;
  right: 0;
  z-index: 8888;
  border-radius: 0 0 0 20px;
}
.closeMenu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 8888;
}
.mobileMenuBtn {
  font-size: 30px;
  padding-top: 20px;
  font-weight: 300;
  color: #373f41;
  cursor: pointer;
  line-height: 0.9;
  padding: 20px 0.8rem;
}
#mobileGnb {
  width: 88%;
  background-color: #fff;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#mobileGnb ul {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
#mobileGnb li {
  font-size: 30px;
  padding: 0 3rem;
  cursor: pointer;
}
#mobileGnb li:hover {
  color: #4730d9;
}
#mobileGnb .session {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #eee;
  padding: 24px 3rem;
}
#mobileGnb .session .loginActive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  align-items: flex-start;
}
.loginActive a,
.loginActive span {
  font-size: 13px;
}
/* main */
main {
  width: 100%;
  padding: 0rem 10.3125rem;
  font-family: "Noto Sans KR", sans-serif;
}
/* main-visual */
.main-visual {
  width: 100%;
  height: 510px;
  background: url(/main-visual.svg) no-repeat right;
}
.maintxt {
  display: inline-flex;
  height: 275px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  padding: 7.35rem 0;
  box-sizing: content-box;
}
.maintxt h2 {
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  letter-spacing: -0.1rem;
}
.maintxt p {
  color: var(--light-gray-dark, #737b7d);
  /* Body/P14 */
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-transform: capitalize;
  letter-spacing: -0.05rem;
}
.mainBtn {
  display: flex;
  box-sizing: border-box;
  padding: 12px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #4730d9;
  background: var(--white-100, #fff);
  color: #4730d9;
  transition: all 0.3s;
  cursor: pointer;
}
.mainBtn span {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%; /* 18px */
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
.mainBtnIcon {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 100%; /* 18px */
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
.mainBtn:hover {
  background-color: #4730d9;
}
.mainBtn:hover span {
  color: #fff;
}
/* 메인페이지 섹션 */
.secCon {
  width: 100%;
  height: fit-content;
  padding: 40px 0;
}
.topCategory {
  display: flex;
  gap: 20px;
  color: #373f41;
}
.secMenu {
  width: 282px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  color: #373f41;
  margin-bottom: 30px;
}
.secMenu > h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.1rem;
}
.secMenu > a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
  transition: all 0.5s;
  cursor: pointer;
}
.secMenu > a:hover {
  color: #4730d9;
}
.secMenu > span {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
  transition: all 0.5s;
  cursor: pointer;
}
.secMenu > span:hover {
  color: #4730d9;
}
/* 지식 카드 컨테이너 */
.cardList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: auto;
  gap: 20px;
}
.cardList > a {
  display: block;
  width: 100%;
}
.cardList > a:last-child > .topCard {
  display: none;
}
/* 지식 카드 컴포넌트 */
.topCard {
  cursor: pointer;
  width: 298px;
  max-width: 303px;
  position: relative;
  display: flex;
  height: 419px;
  box-sizing: border-box;
  padding: 19px 15px;
  align-items: flex-start;
  overflow: hidden;
  gap: 20px;
  border-radius: 10px;
  background-color: #eee;
  transition: box-shadow 0.3s;
  /* 컨텐츠-drop shadow */
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.topCard .backImg {
  width: fit-content;
  max-width: 140%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  filter: brightness(90%);
  transition: filter 0.3s;
}
.topCard:hover {
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.topCard:hover .backImg {
  filter: brightness(100%);
}
.txtBox {
  width: 100%;
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}
.txtBox h2 {
  width: 100%;
  height: 22.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
}
.txtBox p {
  width: 100%;
  height: 22.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-transform: capitalize;
  color: #333;
}
.card_detail {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
}
.card_detail div {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  text-transform: capitalize;
  gap: 4px;
  color: #444;
}
.viewsComment {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.views {
  margin-right: 8px;
}
/* Q&a, 커뮤니티 카드 */
.tableCard {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  width: 378px;
  height: 180px;
  padding: 26px 24px;
  flex-flow: row wrap;
  gap: 12px;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--content-line, #f2f2f2);
  /* 컨텐츠-drop shadow */
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  transition: border 0.3s;
}
.tableCard:hover {
  border: 1px solid #4730d9;
}
.tableCard h2 {
  width: 100%;
  height: auto;
  max-height: 40px;
  flex-shrink: 0;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
}
.tableCard .card_contents {
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.tableCard p {
  width: 100%;
  flex-shrink: 0;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}
.tagGroup {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* login */
.loginPage {
  position: relative;
  width: 100vw;
  height: 872px;
  overflow: hidden;
  padding: 0 10.3125rem;
  background: url(/confetti.png) no-repeat left;
  background-color: #4730d9;
  display: flex;
  justify-content: space-between;
}
.standing {
  width: 50%;
  height: fit-content;
}
.standing > img {
  z-index: 99;
  margin-left: 10%;
}
.loginForm {
  width: 30%;
  height: 600px;
  border-radius: 20px;
  margin: 90.5px auto;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  background-color: #e6e6e6;
}
.btngroup {
  position: relative;
  width: 100%;
  height: fit-content;
  display: inline-flex;
}
.loginForm button {
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  color: #373f41;
}
.loginForm .inactive {
  background-color: #e6e6e6;
  color: #aaa;
}
.formTit {
  color: #4730d9;
  text-align: center;
  margin: 18px 0;
}
.loginBox {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 40px;
}
.inputBox {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}
.inputBox > input {
  width: 100%;
  line-height: 1;
  border: none;
}
#submitBtn {
  position: static;
  width: 100%;
  height: 40px;
  background-color: #4730d9;
  color: #ddd;
  border-radius: 4px;
  cursor: pointer;
}
.socialLog {
  /* 추후 개발 가능할때까지 숨겨두기 */
  display: none;
  width: 100%;
  height: fit-content;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0;
  font-family: "Noto sans KR", sans-serif;
}
.socialLog > h4 {
  font-size: 14px;
  color: #888;
  font-weight: normal;
  margin-bottom: 30px;
}
.social-icons {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-icons button {
  width: fit-content;
  height: fit-content;
}
.social-icons button:hover {
  opacity: 0.8;
}
.check-account {
  color: #888;
  font-size: 12px;
  margin-top: 20px;
}
/* 커뮤니티-공통 top영역 */
.topSec {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 40px 0;
}
.topSec > h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: capitalize;
  color: var(--text-color1, #373f41);
  letter-spacing: -0.05rem;
}
.topSec > p {
  margin-bottom: 50px;
  color: var(--text-color2, #737b7d);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-transform: capitalize;
}
.topSec_detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 30px;
  align-self: stretch;
  flex-wrap: wrap;
}
.topSec_detail > .secMenu {
  margin-bottom: 0;
}
.searchBar {
  display: flex;
  width: 700px;
  box-sizing: border-box;
  min-width: 360px;
  max-width: 700px;
  padding: 5px 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--content-line, #dedede);
  background: #fff;
}
.searchBar > input {
  border: none;
  width: 90%;
  line-height: 2;
}
.searchBar > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.searchBar > button:hover {
  filter: contrast(3);
}
.writeBtn {
  display: flex;
  height: 32px;
  padding: 10px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  border-radius: 19px;
  border: 1px solid #4730d9;
  background: var(--white-100, #fff);
  color: #4730d9;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 12px */
  text-transform: capitalize;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 160px;
}
.writeBtn:hover {
  background: #4730d9;
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.container > ul {
  width: 100%;
  height: fit-content;
}
.container .conList {
  display: flex;
  height: fit-content;
  padding: 26px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 9px;
  border-top: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  background: #fff;
}
.conList:last-child {
  border-bottom: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
}
.conList > .conList-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  row-gap: 12px;
}
.conList-top > .card_detail {
  width: fit-content;
  gap: 12px;
}
.conList-top p {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #373f41;
  line-height: 1.6;
  text-transform: capitalize;
}
.conList-body {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
}
.category {
  color: #4730d9;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.conList-body > .listBody {
  width: 100%;
  height: 22px;
  overflow: hidden;
  font-size: 15px;
  color: #666;
}
.listBody > p {
  width: 100%;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tagInfo {
  margin-left: 20px;
  font-size: 14px;
  margin-bottom: 8px;
  color: #ed3914;
  font-weight: 500;
}

.pager {
  display: flex;
  padding: 70px 0px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.pager button {
  border-radius: 4px;
  border: 1px solid var(--black-20, rgba(0, 0, 0, 0.2));
  background: #fff;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.pager button > img {
  width: fit-content;
  margin: 0 auto;
}
.pager button:hover {
  border: 1px solid #4730d9;
  color: #4730d9;
}
.pager button:hover > img {
  filter: invert(18%) sepia(95%) saturate(6777%) hue-rotate(252deg)
    brightness(88%) contrast(92%);
}
/* 상세페이지(Detail) */
.detail-pager {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
  align-self: stretch;
}
.detail-pager a {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  height: 28px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.detail-pager a:hover {
  color: #4730d9;
}
.detail-pager a:hover > img {
  padding: 0;
  filter: invert(18%) sepia(95%) saturate(6777%) hue-rotate(252deg)
    brightness(88%) contrast(92%);
}
.detailCon {
  width: 82.5rem;
  min-height: 500px;
  height: fit-content;
  margin: 0 auto;
  color: #373f41;
}
.detail_title {
  padding: 32px 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.detail_title h4 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-transform: capitalize;
  color: #737b7d;
}
.crumbs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}
.crumbs > span {
  color: var(--black-40, rgba(0, 0, 0, 0.4));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
.crumbs > .card_detail {
  width: fit-content;
  gap: 12px;
}
.detailTxt {
  width: 100%;
  height: fit-content;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* 수정,삭제버튼 */
.edit_detailTxt {
  width: 100%;
  height: 29px;
  box-sizing: border-box;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.edit_detailTxt > a {
  background-color: #fff;
  color: #888;
  border: 1px solid #bbb;
  padding: 4px 18px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s;
}
.edit_detailTxt > a:hover {
  color: #4730d9;
  border: 1px solid #4730d9;
}
.delBtn {
  background-color: #fff;
  color: #888;
  border: 1px solid #bbb;
  padding: 3px 18px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s;
}
.delBtn:hover {
  color: #4730d9;
  border: 1px solid #4730d9;
}
.detailComments {
  width: 100%;
  height: fit-content;
  padding: 32px 20px;
  background-color: #66619105;
  margin: 40px 0;
  box-sizing: border-box;
  border-radius: 20px;
}
.detailComments h4 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-transform: capitalize;
  color: #737b7d;
  padding-bottom: 20px;
}
.commit {
  width: 100%;
  height: fit-content;
  padding: 20px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.commit > .commitTxt {
  padding: 20px 0;
  font-size: 14px;
  color: #373f41;
}
.commentInput {
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 50px;
}
.commentInput > input {
  width: 93%;
  border: none;
}
.edit_comment {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 8px;
}
.edit_input {
  box-sizing: border-box;
  width: 90%;
  padding: 8px 20px;
  border: 1px solid #ddd;
  border-radius: 50px;
}
.edit_del {
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  color: #737b7d;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.5s;
}
.edit_del > div:hover {
  color: #4730d9;
  cursor: pointer;
}
.edit_del > span {
  color: #ccc;
  font-size: 10px;
}
.commit_time {
  color: #aaa;
  font-size: 12px;
  margin-left: 12px;
}
/* 글작성 폼 */
.writeForm {
  width: 82.5rem;
  height: fit-content;
  min-height: 780px;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #373f41;
}
.writeForm > h4 {
  font-family: "Noto sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-transform: capitalize;
  color: #737b7d;
  padding-bottom: 20px;
  padding-left: 20px;
}
.postTitle {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  row-gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.titleArea {
  width: 85%;
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.postTitle input {
  width: 80.3%;
  font-size: 1rem;
  color: #373f41;
  border: none;
}
.cartegory {
  width: 170px;
  padding: 6px 8px;
  border: none;
  border-bottom: 2px solid #4730d9;
  background-color: #fff;
}
.postBody {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  box-sizing: border-box;
}
.tox-tinymce {
  height: 550px !important;
}
.tox .tox-menubar {
  gap: 12px;
}
.tagarea {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}
.tagarea input {
  width: 80%;
  line-height: 24px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
}
.formBtn {
  margin: 50px auto;
  padding: 12px 42px;
  font-size: 16px;
  color: #4730d9;
  font-weight: 700;
  letter-spacing: -0.05rem;
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid #4730d9;
  transition: all 0.3s;
}
.formBtn:hover {
  background-color: #4730d9;
  color: #fff;
}
/* footer */
footer {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0rem 10.3125rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
footer p {
  color: var(--black-40, rgba(0, 0, 0, 0.4));
  /* Body/P12 */
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
.sns-icons {
  width: 138px;
  height: 38px;
}
.sns-icons ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.sns-icons ul a > img {
  filter: grayscale(100%);
  opacity: 0.3;
  transition: all 0.3s;
}
.sns-icons ul a:hover > img {
  filter: grayscale(0%);
  opacity: 1;
}
/* mypage */
.myPageCon {
  width: 1320px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
  font-family: "Noto sans KR", sans-serif;
}
.myPageCon > div {
  padding: 32px 24px;
  box-sizing: border-box;
  border-radius: 20px;
}
.leftCon {
  width: 29%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #373f41;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.leftCon > h4 {
  font-weight: 600;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.leftCon span {
  font-weight: 400;
  font-size: 14px;
  color: #666;
}
.profileImg {
  width: 132px;
  height: 132px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.profileImg > img {
  width: 86%;
  margin: 9px auto;
}
.rightCon {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.userUpdate {
  width: 100%;
  height: fit-content;
  padding: 28px 32px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
}
.userUpdate > h4 {
  color: #373f41;
  font-size: 14px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.userUpdate > h5 {
  color: #555;
  font-size: 14px;
  font-weight: 500;
}
.userChangeInfo {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.userChangeInfo input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #efefef;
}
.userChangeInfo > button {
  margin-left: 0;
}
.profileIcons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.profileIcons > .profile {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: transparent;
}
.withdraw {
  width: 100%;
  height: fit-content;
}
.withdraw > button {
  float: right;
}
.myInfo {
  width: 100%;
  height: fit-content;
}
.myImg {
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
  background-color: #dbf6ff;
}
.myImg > img {
  width: 100%;
}
.myInfo li {
  color: #373f41;
  text-align: center;
  margin: 35px 0;
}
.myInfo li span {
  color: #4730d9;
  font-weight: 700;
}
.myInfo li.sessionLogOut {
  width: 30%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px;
  text-align: center;
  border: 1px solid #4730d9;
}
.myInfo li.sessionLogOut > button {
  width: 100%;
  height: 38px;
}
/* 아이디/비번찾기 */
.findAccountCon {
  width: 100%;
  background: url(/confetti.png) no-repeat center;
  margin: 0 auto;
  color: #373f41;
  font-size: 15px;
  font-weight: 500;
}
.verificationBox {
  margin-top: 30px;
}
/* 개발자소개 */
.developers {
  width: 1320px;
  height: auto;
  margin: 0 auto;
  padding: 80px 0;
  font-family: "Noto Sans KR", sans-serif;
}
.developers h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 60px;
  color: #4730d9;
}
.developers .devCon {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.devCon > div {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 40px 20px;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #373f41;
}
.profile {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}
.profile > img {
  max-width: 100%;
}
.dev-info {
  font-size: 15px;
  width: 50%;
  text-transform: capitalize;
}
.dev-info ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dev-info ul li {
  border-bottom: 1px dotted #ddd;
  padding: 12px 0;
  padding-left: 10px;
}
.git {
  display: flex;
  gap: 4px;
}
.git > a {
  filter: grayscale(100%);
  transition: all 0.3s;
}
.git > a:hover {
  filter: grayscale(0%);
}
.dev-info ul li > span {
  display: block;
  margin-left: 10px;
  margin-top: 4px;
}
.dev-info ul li > b {
  font-weight: 600;
}
.greeting {
  line-height: 1.5;
  text-transform: none;
  min-height: 400px;
}
/* PC */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    padding: 0rem 3rem;
  }
  #gnb {
    width: 28vw;
  }
  .loginActive a,
  .loginActive span {
    font-size: 13px;
  }
  .main-visual {
    padding: 0 3rem;
    background: url(/main-visual.svg) no-repeat right;
  }
  main {
    padding: 0;
  }
  .maintxt p {
    color: #000;
  }
  .secCon {
    padding: 40px 3rem;
  }
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(31%, auto));
  }
  .cardList > a {
    display: block;
    width: 100%;
  }
  .cardList > a:last-child > .tableCard {
    display: none;
  }
  .cardList > a:last-child > .topCard {
    display: flex;
  }
  .topCard {
    width: 100%;
    max-width: 100%;
  }
  .topCard .backImg {
    width: 107%;
  }
  .tableCard {
    width: auto;
  }
  /* 게시판 */
  .topSec_detail {
    padding: 0 3rem;
  }
  .writeBtn {
    margin-left: 0;
    justify-content: space-between;
  }
  .container {
    padding: 0 3rem;
  }
  /* 상세페이지 */
  .detailCon {
    width: 100%;
  }
  .detail_title {
    padding: 32px 3rem;
  }
  .detailTxt {
    padding: 40px 3rem;
  }
  .commentInput > input {
    width: 87%;
  }
  .edit_detailTxt {
    padding: 0 3rem;
  }
  /* 글작성 */
  .writeForm {
    width: 100%;
  }
  .postTitle {
    justify-content: space-between;
  }
  .postTitle input {
    width: 89%;
  }
  .titleArea {
    width: 67vw;
  }
  /* 마이페이지 */
  .myPageCon {
    width: 100%;
    padding: 40px 3rem;
    gap: 20px;
  }
  .leftCon {
    width: 27.8%;
  }
  .profileIcons {
    flex-wrap: wrap;

    gap: 16px;
  }
  /* 로그인 */
  .loginPage {
    padding: 0 3rem;
  }
  .standing {
    width: 30%;
  }
  .standing > img {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .loginForm {
    width: 45%;
    max-width: 50%;
  }
  /* 개발자소개 */
  .developers {
    width: 96%;
    padding: 80px 0;
  }
  .dev-info {
    width: 60%;
  }
  .greeting {
    min-height: 360px;
  }
}
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 0rem 2rem;
  }
  #gnb {
    width: 28vw;
  }
  .loginActive a,
  .loginActive span {
    font-size: 12px;
  }
  .main-visual {
    padding: 0 2rem;
    background: url(/main-visual.svg) no-repeat 280px;
  }
  main {
    padding: 0;
  }
  .maintxt p {
    color: #000;
  }
  .secCon {
    padding: 40px 2rem;
  }
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(48%, auto));
  }
  .cardList > a:last-child > .topCard {
    display: flex;
  }
  .cardList > a {
    width: 100%;
  }
  .topCard {
    width: 100%;
    max-width: 100%;
  }
  .topCard .backImg {
    width: 100%;
  }
  .tableCard {
    width: auto;
  }
  /* 게시판 */
  .topSec_detail {
    padding: 0 2rem;
  }
  .writeBtn {
    margin-left: 0;
    justify-content: space-between;
  }
  .container {
    padding: 0 2rem;
  }
  .detail_title {
    padding: 32px 2rem;
  }
  .detailTxt {
    padding: 40px 2rem;
  }
  .edit_detailTxt {
    padding: 0 2rem;
  }
  .detailComments {
    padding: 32px 2rem;
  }
  /* 상세페이지 */
  .detailCon {
    width: 100%;
  }
  .commentInput > input {
    width: 87%;
  }
  /* 글작성 */
  .writeForm {
    width: 100%;
  }
  .postTitle {
    justify-content: space-between;
  }
  .postTitle input {
    width: 89%;
  }
  .titleArea {
    width: 60vw;
  }
  /* 마이페이지 */
  .myPageCon {
    width: 100%;
    padding: 40px 2rem;
    flex-direction: column;
  }
  .leftCon {
    width: 100%;
    margin-bottom: 20px;
    gap: 16px;
  }
  .rightCon {
    width: 100%;
  }
  /* 로그인 */
  .loginPage {
    padding: 0 2rem;
  }
  .standing {
    display: none;
  }
  .loginForm {
    width: 65%;
    max-width: 550px;
  }
  footer {
    padding: 0rem 2rem;
  }
  /* 개발자소개 */
  .developers {
    width: 90%;
  }
  .developers .devCon {
    grid-template-columns: repeat(1, 1fr);
  }
  .greeting {
    min-height: 300px;
  }
}

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    width: 100%;
  }
  header {
    padding: 0 5vw;
  }
  h1 {
    width: fit-content;
    height: fit-content;
  }
  h1 img {
    width: 90%;
  }
  #gnb {
    display: none;
  }
  .con .login {
    display: none;
  }
  .con .loginActive {
    display: none;
  }
  .loginActive a,
  .loginActive span {
    font-size: 16px;
  }
  .mobileMenu {
    display: block;
  }
  .closeMenu {
    display: flex;
    width: 3.5rem;
    height: 70vh;
    transition: width 0.5s;
    overflow: hidden;
    justify-content: space-between;
    align-items: stretch;
  }
  .closeMenu #mobileGnb {
    display: none;
  }
  .openMenu {
    width: 100%;
    height: 70vh;
    transition: width 0.5s;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  main {
    padding: 0;
  }
  .main-visual {
    height: 600px;
    background: url(/m_visual.png) no-repeat center 325px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
  }
  .maintxt {
    width: 80vw;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
  }
  .maintxt p {
    color: #373f41;
  }
  .secCon {
    padding: 0 1rem;
  }
  .topCategory {
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .topCategory > h3 {
    width: 100%;
    text-align: center;
  }
  .secMenu {
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
  }
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(100%, auto));
    justify-content: center;
    margin-bottom: 80px;
  }
  .cardList > a:last-child > .topCard {
    display: flex;
  }
  .cardList a {
    width: 100%;
    display: contents;
  }
  .cardList > a:last-child {
    justify-self: baseline;
    display: block;
  }
  .topCard {
    width: 100%;
    max-width: 100%;
    height: 165px;
  }
  .topCard .backImg {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .tableCard {
    width: 100%;
  }
  /* 게시판 */
  .topSec {
    padding: 40px 1rem;
  }
  .topSec > p {
    width: 90%;
    margin: 20px auto;
  }
  .searchBar {
    min-width: 100%;
    max-width: 700px;
  }
  .writeBtn {
    margin-left: 0;
    margin: 0 auto;
  }
  .container > ul {
    padding: 0 1rem;
  }
  /* 상세페이지 */
  .detailCon {
    width: 100%;
  }
  .edit_detailTxt {
    padding: 0 20px;
  }
  .commentInput > input {
    width: 64%;
    max-width: 87%;
  }
  /* 글작성 */
  .writeForm {
    width: 100%;
  }
  .writeForm > h4 {
    padding-left: 0;
  }
  .postTitle {
    width: 100%;
    padding: 0;
  }
  .postTitle input {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
  }
  .titleArea {
    width: 100%;
  }
  .titleArea > span {
    display: none;
  }
  .cartegory {
    width: 100%;
    margin-bottom: 40px;
  }
  /* 로그인 */
  .loginPage {
    padding: 0 1rem;
  }
  .standing {
    display: none;
  }
  .loginForm {
    width: 80%;
    min-width: 91%;
  }
  .myImg {
    height: 170px;
  }
  .myInfo li.sessionLogOut {
    width: 60%;
  }
  .myInfo li.sessionLogOut > button {
    display: block;
  }
  /* 마이페이지 */
  .myPageCon {
    width: 100%;
    flex-direction: column;
    row-gap: 40px;
    padding: 40px 1rem;
  }
  .leftCon {
    width: 100%;
    gap: 20px;
  }
  .rightCon {
    width: 100%;
  }
  .profileImg > img {
    width: 85.7%;
  }
  .profileIcons {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: -1 1rem;
  }
  .withdraw > button {
    float: none;
    margin: 0 auto;
  }
  footer {
    padding: 1.5rem;
    height: fit-content;
  }
  footer > .con {
    flex-direction: column;
    row-gap: 18px;
  }
  /* 개발자소개 */
  .developers h2 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    line-height: 1.5;
  }
  .developers {
    width: 90%;
  }
  .developers .devCon {
    grid-template-columns: repeat(1, 1fr);
  }
  .dev-info {
    width: 90%;
  }
  .greeting {
    min-height: 230px;
  }
}
